# Python Learning

## Dictonaries

In [2]:
d={"tom":9851133606,"rob":732573029,"joe":7320923203}
d["tom"]

9851133606

### Add a telephone number

In [15]:
d["sam"]=7395679879
d

{'tom': 9851133606, 'rob': 732573029, 'joe': 7320923203, 'sam': 7395679879}

### Delete entries in Dictonary

In [16]:
del d["sam"]
d

{'tom': 9851133606, 'rob': 732573029, 'joe': 7320923203}

In [1]:
for key in d:
    print("key:",key,"value:",d[key])

NameError: name 'd' is not defined

In [20]:
"tom" in d

True

In [22]:
"samir" in key

False

In [24]:
d.clear()

In [25]:
d

{}

## Tuple: tuple is a list of values grouped together

In [27]:
point=(5,9)
point[0]

5

In [29]:
point[1]

9

### Difference:
### list : All values have similar meaning (Homogeneous)
### Tuple : All values have different meaning (hetrogeneous)

List example:

expense_list=[2300,2500,2900,6700]
item is an expense

list_of_names=["Bob","Tom","Partha"]
item is a name of the person.

In [23]:
friends = ["sahil","mukesh","Ashish","sanjilla"]
friends[1] = "diwash"
print(friends[1:3])

['diwash', 'Ashish']

## List

In [2]:
friends = ["sahil","sahil","mukesh","Ashish","sanjilla"]
luckey_numbers = [3,5,7,9,11,13,15,17,19]
print(friends.count("sahil"))
print(friends)
print(friends.index("sanjilla"))

2
['sahil', 'sahil', 'mukesh', 'Ashish', 'sanjilla']
4

## Function of List
* extend()
* append()
* insert(2,'content")
* remove()
* clear()
* pop()
* index("context')
* count("context")
* sort()
* reverse()
* copy()

In [39]:
friends.sort()
friends.clear()
print(friends)

[]

## Tuples 
#### Tuples are similar to list but in Tuple we can't cannge the element similarly in list we can cange the element inside the list.

In [59]:
coordinates = [(4,5),(5,7),(9,10),(20,80)]
print(coordinates[1])

(5, 7)

## Function

### Print Name

In [37]:
def add_name(name):
    print("hello"  +name)

add_name(" Sahil")
add_name(" Shyam")
add_name(" Diwash")

hello Sahil
hello Shyam
hello Diwash

### Print Name and Age

In [48]:
def add_name(name,age):
    print("hello"  +name,"you are",age,"years old.")
    
add_name(" Sahil,",19)
add_name(" Shyam,",20)

hello Sahil, you are 19 years old.
hello Shyam, you are 20 years old.

### Adding numbers

In [52]:
x=int(input("Enter the value of x: "))
y=int(input("Enter the value of y: "))
def add(x,y):
    print(x,"+",y,"=",x+y)

add(x,y)

Enter the value of x: 5
Enter the value of y: 5
5 + 5 = 10

### Return Statement

In [55]:
def cube(n):
    return n*n*n

print(cube(5))

125

### Adding variable with Return Statement

In [61]:
def cube(n):
    return n*n*n

result=cube(5)
print(result)

125

## If Statements

### If Statements with Bollen using 'or'

In [12]:
is_male = False
is_tall = False

if is_male or is_tall:
    print("You are a male or tall or both")
else:
    print("You are neither male nor tall")

You are neither male nor tall

### If Statements with Bollen using 'and'

In [17]:
is_male = False
is_tall = True

if is_male and is_tall:
    print("You are a tall male")
else:
    print("You are either not male or not tall or both")

You are either not male or not tall or both

### If Satements using 'not'

In [30]:
is_male = True
is_tall = False

if is_male and is_tall:
    print("You are a tall male")
    
elif is_male and not(is_tall):
    print("You are a short male")
    
elif not(is_male) and is_tall:
    print("You are a not male but tall")  
else:
    print("You are not a male and not tall")

You are a short male

###  Greater number using if else statement

In [33]:
def greater(num1,num2,num3):
    if num1>=num2 and num1>=num3:
        print("The Greatest number is",num1)
    elif num2>=num1 and num2>=num3:
        print("The Greatest number is",num2)
    else:
        print("The Greatest number is",num3)
    return num1,num2,num3
n=greater(5,6,7)

The Greatest number is 7

### Simple Calculator using if else Statements

In [15]:
a=int(input("Enter the value of a: "))
x=input('Enter the operator: ')
b=int(input("Enter the value of b: "))
if x=="+":
    print(a+b)
elif x=="-":
    print(a-b)
elif x=="/":
    print(a/b)
elif x=="*":
    print(a*b)
elif x=="%":
    print(a/b*100,"%")
else:
    print("'invalid text'", x)

Enter the value of a: 5
Enter the operator: *
Enter the value of b: 5
25

### Dictoionary

In [34]:
month = {
    "jan": "January",
    "Feb": "February",
    "Mar": "March",
    "Apr": "April",
    "May": "May",
    "Jun": "June",
    "Jul": "July",
    "Aug": "August",
    "Sep": "September",
    "Oct": "October",
    "Nov": "November",
    "Dec": "December"
}
print(month["Nov"])

November

* /Function in Dictionary
* .get("Key name")

we can also edit the text if we entered invalid value by doing -.get("Key name","Invalid Key")

### While Loop

In [6]:
i = 1
while i<=10:
    print(i)
    i += 1

1
2
3
4
5
6
7
8
9
10

### Guessing Game

In [17]:
secret_word = "giraffe"
guess = ""
guess_count = 0
guess_limit = 3
out_of_guesses = ""
while guess != secret_word and not(out_of_guesses):
    if guess_count < guess_limit:
        guess = input('Enter guess: ')
        guess_count += 1
    else:
        out_of_guesses = "True"
if out_of_guesses:
    print("Out of Guesses, You Lose!")
else:
    print("You win!")

Enter guess: sahil
Enter guess: sahil
Enter guess: sahil
Out of Guesses, You Lose!

### For Loop

In [3]:
for letter in "Sahil Acharya":
    print(letter)

S
a
h
i
l

A
c
h
a
r
y
a

In [11]:
friends = ["Sahil","Avi","Tanseng","Manish"]
for friend in friends:
    print(friend)

4
Sahil
Avi
Tanseng
Manish

In [6]:
for index in range(3,10):
    print(index)

3
4
5
6
7
8
9

now in this program it will print (3,9) it will not include 10
* what ever value you include in 2th position will not included

In [117]:
friends = ["Sahil","Avi","Tanseng","Manish","hari","Shyam"]
i = 1

while i<len(friends):
    for index in friends:
            print(i,index,"has",len(index),"letters")
            i +=1

1 Sahil has 5 letters
2 Avi has 3 letters
3 Tanseng has 7 letters
4 Manish has 6 letters
5 hari has 4 letters
6 Shyam has 5 letters

In [108]:
friends = ["Sahil","Avi","Tanseng","Manish"]
for index in range(len(friends)):
    print(friends[index])

Sahil
Avi
Tanseng
Manish

### Simple Translator

In [5]:
def translator(quate):
    conveter = ""
    for letter in quate:
        if letter.lower() in "aeiou":
            if letter.isupper():
                conveter = conveter + "G"
            else:
                conveter = conveter + "g"
        else:
            conveter = conveter + letter
    return conveter
print(translator(input("Enter the quate")))

Enter the quatei am sahil acharya. I live in Kathmandu Nepal.
g gm sghgl gchgryg. G lgvg gn Kgthmgndg Ngpgl.

### Lip year or Not

In [8]:
lipyear=int(input("Enter a year"))
if lipyear%4 ==0:
    print(lipyear,"is a lipyear")
else:
    print(lipyear,"is not a lipyear")

Enter a year5
5 is not a lipyear

### Exceptation Haldeling

In [22]:
try:
    answer = 10/0
    number = int(input("Enter a number: "))
    print(number)
except ZeroDivisionError as err:
    print(err)
except ValueError:
    print("invalid input")

division by zero

### Removing duplicate

In [295]:
def rmdup(numbers):
    unique = []
    for item in numbers:
        if item  not in unique:
            unique.append(item)
    return unique
n=(1,1,1,"sahil",2,2,2,3,3,3,34,4,4,1,5,1,2,3,4,5,6,7,8,9,10)
print(rmdup(n))

[1, 'sahil', 2, 3, 34, 4, 5, 6, 7, 8, 9, 10]

### word Count

In [32]:
list = ("Sahil is a good boy. He is reading in Texas College.")
count = 0
for words in list:
    if words == " ":
        count += 1
count += 1
print(count)

11

### Mean/Averege

In [ ]:
no = int(input("how many numbers you wnat to have: "))
sum = 0
for n in range (0,no):
    ele = int(input("Enter the numbers: "))
    sum += ele
avg = sum/no
print("Average of the given numbers is: ",round(avg,2))

In [100]:
nums = [12,54,13,-12,1]
for num in nums:
    if num<0:
        break
    print(num)

12
54
13

### Reading Files

### Modes

#### open("file.pdf","r") = read files
#### open("File.pdf","w") = over write file
#### open("File.pdf","w") = create new file if you give new name or rename existing file
#### open("file".pdf","a") = append/write

### Functions of files
* read() = read data inside the file
* readline() = read 1 lines of the file data
* readlines() = it will take each line and put them inside of the array
* readlines()[1] = it will show the data inside the index 1

In [39]:
employee_file = open("backup","r")
for employee in employee_file.readlines():
    print(employee)
employee_file.close()

Sahil Acharya - hacker

In [85]:
employee_file = open("backup.txt","a")
employee_file.write("\nSahil Acharya - hacker")
employee_file.close()

In [115]:
hacker_file=open("word_list","w")
hacker_file.write("\nI am a hacker whose name is sahil")
hacker_file.close()

### Modules and Pip

In [290]:
import random

feet_in_mile =5280
meters_in_kilometer = 1000
beatles = ["Birtamode","butabari","dharan","kakarvitta"]

def power(basenum,pownum):
    result =1
    for i in range(pownum):
        result = result * basenum
    return result

def get_file_ext(filename):
    return filename[filename.index(".")+1:]

def roll_dice(num):
    return random.randint(1,num)

### Classes & Objects

In [4]:
class Student:
    
    def __init__(self, name, major, gpa, is_on_probation):
        self.name = name
        self.major = major
        self.gpa = gpa
        self.is_on_probation = is_on_probation